.login-form {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .login-form__submit-button {
    margin-top: 20px;
  }
  